<body style="color: #666; font-size: 14px; font-family: 'Open Sans',Helvetica,Arial,sans-serif;">
<div class="box-content" style="width: 80%; margin: 20px auto; max-width: 800px; min-width: 600px;">
    <div class="header-tip" style="font-size: 12px;
                                   color: #aaa;
                                   text-align: right;
                                   padding-right: 25px;
                                   padding-bottom: 10px;">
        Confidential - Scale Alarm Use Only
    </div>
    <div class="info-top" style="padding: 15px 25px;
                                 border-top-left-radius: 10px;
                                 border-top-right-radius: 10px;
                                 background:#10fa81;
                                 color: #fff;
                                 overflow: hidden;
                                 line-height: 32px;">
        <img src="cid:icon-alarm" style="float: left; margin: 0 10px 0 0; width: 32px;"/>
        <div style="color:#010e07"><strong>员工入职通知</strong></div>
    </div>
    <div class="info-wrap" style="border-bottom-left-radius: 10px;
                                  border-bottom-right-radius: 10px;
                                  border:1px solid #ddd;
                                  overflow: hidden;
                                  padding: 15px 15px 20px;">
        <div class="tips" style="padding:15px;">
            <p style=" list-style: inherit; margin: 10px 0;">您好,{0}先生/女士：</p>
            <p style=" list-style: inherit; margin: 10px 0;"> 我们十分荣幸地通知您正式入职我公司开发部门，祝贺您即将成为我们公司的一员!</p>
            <p style=" list-style: inherit; margin: 10px 0;"> 您的公司账号为：{2}，默认密码是：123456，请您前往公司官网进行登录并修改密码！</p>
        </div>
        <div class="time" style="text-align: right; color: #999; padding: 0 15px 15px;">{1}</div>
        <br>
    </div>
</div>
</body>

